<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='StudyBuddy.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">


    <title>StuddyBuddy</title>
</head>
<body>
    <header class="navbar">
        <h2>StuddyBuddy</h3>
        <div class="links">
            <a href="#">Your Flashcards</a>
            <a href="#">Study</a>
            <a href="#">Home</a>
            <span><button class="login" style="text-align: right;">Login</button></span>
        </div>
    </header>
    
</body>
</html>