<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='StudyBuddy.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 450px)" href="{{ url_for('static', filename='mobilehome.css') }}">



    <title>StuddyBuddy</title>
</head>
<body>
    <header style="background-color: rgb(0, 0, 0);" class="navbar">
        <h2>StuddyBuddy</h3>
        <nav class="links">
            <a id="Flashcards" href="#">Your Flashcards</a>
            <a id="Study" href="#">Study</a>
            <a href="#">Home</a>
            <span><button class="login" style="text-align: right;">Login</button></span>
        </nav>
    </header>
    <div class="title">
        
        <span class="title-child">Learn at whole new<br> <span class="floating">levels</span></span>
    </div>
    <button class="join-btn">Join StuddyBuddy today!</button>


    
</body>
</html>